<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>About the Author</title>
</head>

<body>
<div th:replace="base :: nav "></div>

<div class="container">
    <h2 align="center">Meet the Designers</h2>
    <div class="row">
        <div class="col-sm-6">
            <img alt="Muhammad Shah"
                 class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1550870732/blog/shah.jpg"
                 title="Muhammad Shah">
            <br>
            <h2>Muhammad A. Shah</h2>
            <br>
            <p>Oracle Certified Associate Java SE 8 programmer</p>
            <img alt="facebook" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png"><a
                href="https://www.facebook.com/mhussainshah1">Facebook</a>
            <br>
            <img alt="linkedin" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png"><a
                href="https://www.linkedin.com/in/mhussainshah1">LinkedIn</a>
            <br>
            <img alt="github" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png"><a
                href="https://github.com/mhussainshah1">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png"><a
                href="https://www.twitter.com/amir__shah">Twitter</a>
        </div>
        <div class="col-sm-6">
            <img alt="Tolani S. Oyefule" class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1550870732/blog/tolanio.jpg">
            <br>
            <h2>Tolani S. Oyefule</h2>
            <br>
            <p>Healthcare Information Specialist</p>
            <img alt="facebook"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png">
            <a href="https://www.facebook.com/tolani.oyefule">Facebook</a>
            <br>
            <img alt="linkedin"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png">
            <a href="https://www.linkedin.com/in/toyefule">LinkedIn</a>
            <br>
            <img alt="github"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png">
            <a href="https://github.com/toyefule">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png">
            <a href="https://www.twitter.com/toyefule">Twitter</a>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-sm-6">
            <img alt="Dagmawi Fasil"
                 class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1553920023/IMG_5783.jpg"
                 title="Dagmawi Fasil">
            <br>
            <h2>Dagmawi Fasil</h2>
            <br>
            <p>Biochemist</p>
            <img alt="facebook" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png">
            <a href="#">Facebook</a>
            <br>
            <img alt="linkedin" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png">
            <a href="#">LinkedIn</a>
            <br>
            <img alt="github" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png"><a
                href="https://github.com/dagfas">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png"><a
                href="https://www.twitter.com/amir__shah">Twitter</a>
        </div>
        <div class="col-sm-6">
            <img alt="Nhan Cong Huynh" class="profile-picture"
                 src="https://res.cloudinary.com/toyefule/image/upload/c_fill,g_face,h_300,r_50,w_300/v1554133400/Outfit/naan-bread-1.jpg">
            <br>
            <h2>Nhan Cong Huynh</h2>
            <br>
            <p>Working remotely</p>
            <img alt="facebook"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png">
            <a href="https://www.facebook.com/nhan">Facebook</a>
            <br>
            <img alt="linkedin"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png">
            <a href="https://www.linkedin.com/in/nhan-huynh-79758b10/">LinkedIn</a>
            <br>
            <img alt="github"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png">
            <a href="https://github.com/nhanconghuynh">Github</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png">
            <a href="https://www.twitter.com/toyefule">Twitter</a>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>
