<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: header">
    <title>About the Author</title>
</head>

<body>
<div th:replace="base :: nav "></div>

<div class="container">
    <h2 align="center">Meet the Designers</h2>
    <div class="row">
        <div class="col-sm-6">
            <img alt="Muhammad Shah"
                 class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1550870732/blog/shah.jpg"
                 title="Muhammad Shah">
            <br>
            <h2>Muhammad A. Shah</h2>
            <br>
            <p>Oracle Certified Associate Java SE 8 programmer</p>
            <img alt="facebook" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png"><a
                href="https://www.facebook.com/mhussainshah1">https://www.facebook.com/amirhshah20</a>
            <br>
            <img alt="linkedin" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png"><a href="https://www.linkedin.com/in/mhussainshah1">https://www.linkedin.com/mhussainshah1</a>
            <br>
            <img alt="github" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png"><a href="https://github.com/mhussainshah1">https://https://github.com/mhussainshah1</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png"><a href="https://www.twitter.com/amir__shah">@Amir__Shah</a>
        </div>
        <div class="col-sm-6">
            <img alt="Tolani S. Oyefule" class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1550870732/blog/tolanio.jpg">
            <br>
            <h2>Tolani S. Oyefule</h2>
            <br>
            <p>Healthcare Information Specialist</p>
            <img alt="facebook"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png">
            <a href="https://www.facebook.com/tolani.oyefule">https://www.facebook.com/tolani.oyefule</a>
            <br>
            <img alt="linkedin"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png">
            <a href="https://www.linkedin.com/in/toyefule">https://www.linkedin.com/toyefule</a>
            <br>
            <img alt="github"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png">
            <a href="https://github.com/toyefule">https://https://github.com/toyefule</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png">
            <a href="https://www.twitter.com/toyefule">@toyefule</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <img alt="Dag Fasil"
                 class="profile-picture"
                 src="https://res.cloudinary.com/dmwim1a1p/image/upload/c_fill,g_face,h_300,r_50,w_300/v1553870797/IMG_5428.jpg"
                 title="Dag Fasil">
            <br>
            <h2>Dag Fasil</h2>
            <br>
            <p>Biochemist</p>
            <img alt="facebook" class="icon"
                 src="https://res.cloudinary.com/dmwim1a1p/image/upload/v1553870797/IMG_5428.jpg"><a
                href="https://www.facebook.com/mhussainshah1">https://www.facebook.com/amirhshah20</a>
            <br>
            <img alt="linkedin" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png"><a href="https://www.linkedin.com/in/mhussainshah1">https://www.linkedin.com/mhussainshah1</a>
            <br>
            <img alt="github" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png"><a href="https://github.com/mhussainshah1">https://https://github.com/mhussainshah1</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png"><a href="https://www.twitter.com/amir__shah">@Amir__Shah</a>
        </div>

        <div class="col-sm-6">
            <img alt="Tolani S. Oyefule" class="profile-picture"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_300,r_50,w_300/v1550870732/blog/tolanio.jpg">
            <br>
            <h2>Nhan</h2>
            <br>
            <p>Healthcare Information Specialist</p>
            <img alt="facebook"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/facebook.png">
            <a href="https://www.facebook.com/tolani.oyefule">https://www.facebook.com/tolani.oyefule</a>
            <br>
            <img alt="linkedin"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/linkedin.png">
            <a href="https://www.linkedin.com/in/toyefule">https://www.linkedin.com/toyefule</a>
            <br>
            <img alt="github"
                 class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/github.png">
            <a href="https://github.com/toyefule">https://https://github.com/toyefule</a>
            <br>
            <img alt="twitter" class="icon"
                 src="https://res.cloudinary.com/mhussainshah1/image/upload/c_fill,g_face,h_40,r_50,w_40/v1550870732/blog/twitter.png">
            <a href="https://www.twitter.com/toyefule">@toyefule</a>
        </div>
    </div>
</div>
<div th:replace="base :: footer"></div>
</body>
</html>