<!doctype html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="header">
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

        <!-- Bootstrap CSS -->
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>

<!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;#99CE64;" th:fragment="nav">-->
<nav class="navbar navbar-expand-sm navbar-custom" style="background-color: #e3f2fd;" th:fragment="nav">
    <!--<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #99CE64;" th:fragment="nav">-->

    <a class="navbar-brand" href="/" style="font-size: 70%;display:inline">  <img src="https://res.cloudinary.com/dg89xpg9o/image/upload/v1553628099/Outfit/18-Fashion-Logo-Design.jpg" alt="" style="display:block;margin-left:0;margin-right:auto;max-height:85px;max-width:85px;height:auto;width:auto;"> Tolani Oyule &#183; Daggin Dagmawi
        <p style="font-size: 70%;display:inline-block">Nhan Huynh &#183; Muhammad Hussain Shah  </p>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse"
            type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 116%">
        <ul class="navbar-nav mr-auto mx-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="#">Welcome <span
                        th:text="${#authentication.name}"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/updateUser">Update profile</a>
            </li>


            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About Us</a>
            </li>
        </ul>
        <!--<button class="btn btn-outline-success my-2 my-sm-0"  sec:authorize="!isAuthenticated()" type="submit">Register</button>-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0"  sec:authorize="!isAuthenticated()" type="submit">Register</button>-->

        <a  class="btn btn-outline-info" role="button" sec:authorize="!isAuthenticated()" href="/register">Register</a>
        <a  class="btn btn-success" role="button" sec:authorize="!isAuthenticated()" href="/login">Login</a>
        <!--<li class="nav-item" sec:authorize="!isAuthenticated()">-->
            <!--<a class="nav-link" href="/register">Register</a>-->
        <!--</li>-->
        <!--<li class="nav-item" sec:authorize="!isAuthenticated()">-->
            <!--<a class="nav-link" href="/login">Login</a>-->
        <!--</li>-->
    </div>
</nav>

<div align="center" th:fragment="footer">

    <p class="mt-5 mb-3 text-muted" align="center">Copyright &copy; 2019 by Nhan Huynh, Muhammad Hussain Shah, Tolani Oyefule, and Daggin Dagmawi. All rights reserved.</p>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>

</body>
</html>