<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::header">
    <title>Course Form</title>
</head>

<body>
<div th:replace="base::nav"></div>
<br/>
<div align="center" class="container">
    <h2>Course Form</h2><br/>
    <form action="#" method="post" th:action="@{/process}" th:object="${course}">
        <input th:field="*{id}" type="hidden"/>
        <table class="table">
            <tr>
                <td>Title:</td>
                <td><input th:field="*{title}" type="text"/></td>
                <td><span th:errors="*{title}" th:if="${#fields.hasErrors('title')}"></span></td>
            </tr>
            <tr>
                <td>Instructor:</td>
                <td><input th:field="*{instructor}" type="text"/></td>
                <td><span th:errors="*{instructor}" th:if="${#fields.hasErrors('instructor')}"></span></td>
            </tr>
            <tr>
                <td> Description:</td>
                <td><textarea rows="3" th:field="*{description}"></textarea></td>
                <td><span th:errors="*{description}" th:if="${#fields.hasErrors('description')}"></span></td>
            </tr>
            <tr>
                <td>Credits:</td>
                <td><input th:field="*{credit}" type="number"/></td>
                <td><span th:errors="*{credit}" th:if="${#fields.hasErrors('credit')}"></span></td>
            </tr>
        </table>
        <input type="submit" value="Submit"/>
    </form>
</div>
<br/>
<div th:replace="base::footer"></div>
</body>
</html>