<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::header">
    <title>List</title>

</head>
<body>
<div th:replace="base::nav"></div>

<div class="container-float">

    <div class="jumbotron lead">
        <h2 class="text-center"> Outfit</h2>
        <small>Our website will help you to choose an outfit for location according to the weather
            conditions. Create an account. Add all you outfits in the website then enter city name and see your
            outfit for the day
        </small>
    </div>

    <div class="container" sec:authorize="isAuthenticated()">
        <form class="form-inline" method="post"
              th:action="@{/weather}"
              th:object="${formAttributes}">

            <div class="form-group mb-2">
                <label for="city"> Enter city name to select outfit as per weather: </label>
                <input class="form-control" id="city" placeholder="City" th:field="*{city}" type="text">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <span class="error-message"
                      th:errors="*{city}"
                      th:if="${#fields.hasErrors('city')}">
                </span>
            </div>
            <button class="btn btn-primary mb-2" type="submit">Submit</button>
        </form>
    </div>

    <form action="#" method="post" th:action="@{/check}">
        <span sec:authorize="isAuthenticated()">
            <button class="btn btn-link" name="name" type="submit" value="packing">Packing List</button> -
            <button class="btn btn-link" name="name" type="submit" value="delete">Delete Selected</button>
        </span>

        <table class="table table-striped" style="width:100%">
            <thead class="thead-light">
            <tr>
                <th sec:authorize="isAuthenticated()">Select</th>
                <th>Category</th>
                <th>Title</th>
                <th>Color</th>
                <th>Material</th>
                <th>Size</th>
                <th>Picture</th>
                <th>Discription</th>
                <th>Wind</th>
                <th sec:authorize="hasAuthority('ADMIN')">User</th>
                <th>Climate</th>
                <th>Occasion</th>
                <th sec:authorize="isAuthenticated()">Actions</th>
            </tr>
            </thead>
            <!--enhanced for loop-->
            <tr th:each="item : ${items}">

                <td sec:authorize="isAuthenticated()">
                    <input name="check" th:value="${item.id}" type="checkbox"/>
                </td>

                <td th:text="${item.category.name}"></td>
                <td><a th:href="@{/detail/{id}(id=${item.id})}">[[${item.name}]]</a></td>
                <td th:text="${item.color}"></td>
                <td th:text="${item.material}"></td>
                <td th:text="${item.size}"></td>
                <td><img alt="Picture" th:src="${item.picturePath}"></td>
                <td th:text="${item.description}"></td>

                <td sec:authorize="hasAuthority('ADMIN')" th:text="${item.user.username}"></td>
                <td th:text="${item.wind.name}"></td>
                <td th:text="${item.climate.name}"></td>
                <td th:text="${item.occasion.name}"></td>

                <td sec:authorize="isAuthenticated()">
                    <a th:href="@{/update/{id}(id=${item.id})}">edit</a> -
                    <a th:href="@{/delete/{id}(id=${item.id})}">delete</a>
                </td>
            </tr>
        </table>
    </form>
    <hr/>

    <ul class="nav nav-pills" th:if="${items.totalPages} &gt; 0"><!--totalPages>0-->
        <li class="nav-item"
            th:each="i : ${#numbers.sequence(0,items.totalPages-1)}">
            <div th:if="${searchString}==null">
                <a class="nav-link" th:classappend="${currentPage}==${i}?'active':''"
                   th:href="@{/(page=${i})}"
                   th:text="${i}"></a>
            </div>
            <div th:unless="${searchString}==null">
                <a class="nav-link" th:classappend="${currentPage}==${i}?'active':''"
                   th:href="@{/search(search=${searchString},page=${i})}"
                   th:text="${i}"></a>
            </div>
        </li>
    </ul>
</div>
<br/>
<div th:replace="base::footer"></div>
</body>
</html>