<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::header">
    <title>Occasion List</title>

</head>

<body>
<div th:replace="base::nav"></div>
<div align="center" class="container-float">
    <div class="jumbotron lead">
        <h2 align="center" th:text="${occasion.name}"></h2>
    </div>
    <table class="table table-striped" style="width:100%">
        <thead class="thead-light">
        <tr>
            <th sec:authorize="isAuthenticated()">Select</th>
            <th>Occasion</th>
            <th>Title</th>
            <th>Color</th>
            <th>Material</th>
            <th>Size</th>
            <th>Picture</th>
            <th>Discription</th>
            <th sec:authorize="hasAuthority('ADMIN')">User</th>
            <th>Wind</th>
            <th>Climate</th>
            <th>Category</th>
            <th sec:authorize="isAuthenticated()">Actions</th>
        </tr>
        </thead>
        <!--enhanced for loop-->
        <tr th:each="item : ${items}">
            <td sec:authorize="isAuthenticated()">
                <input name="check" th:value="${item.id}" type="checkbox"/>
            </td>
            <td th:text="${item.occasion.name}"></td>
            <td><a th:href="@{/detail/{id}(id=${item.id})}">[[${item.name}]]</a></td>
            <td th:text="${item.color}"></td>
            <td th:text="${item.material}"></td>
            <td th:text="${item.size}"></td>
            <td><img alt="Picture" th:src="${item.picturePath}"></td>
            <td th:text="${item.description}"></td>
            <td sec:authorize="hasAuthority('ADMIN')" th:text="${item.user.username}"></td>
            <td th:text="${item.wind.name}"></td>
            <td th:text="${item.climate.name}"></td>
            <td th:text="${item.category.name}"></td>

            <td sec:authorize="isAuthenticated()">
                <a th:href="@{/update/{id}(id=${item.id})}">edit</a> -
                <a th:href="@{/delete/{id}(id=${item.id})}">Delete</a>
            </td>
        </tr>
    </table>
</div>
<br/>
<div th:replace="base::footer"></div>
</body>
</html>