<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="base::header">
    <title>profile</title>
</head>

<body>
<div th:replace="base::nav"></div>
<div class="container text-center">
    <div class="jumbotron lead">
        <h2 class="text-center" th:text="${user.firstName} +' ' +${user.lastName}"></h2>
    </div>

    <div>
        <strong>
            <span th:text="${user.username}"></span>
        </strong><br/>
        <span th:text="${user.email}"></span>
        <br/>
        <br/>
        <img id="gravatar"
             th:alt="|${user.firstName}  ${user.lastName}|"
             th:src="@{'http://gravatar.com/avatar/' + ${HASH} + '?s=200'}">
    </div>
</div>

<div th:replace="base::footer"></div>
</body>
</html>