<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base::header">

    <title>Registration</title>
</head>

<body>
<div th:replace="base::nav"></div>

<div align="center" class="container col-md-6 col-md-offset-3">
    <h2>New User Registration</h2>
    <form action="#" autocomplete="off" method="post" th:action="@{/register}" th:object="${user}">

        <p class="error-message"
           th:if="${#fields.hasGlobalErrors()}"
           th:each="error : ${#fields.errors('global')}"
           th:text="${error}">Validation error</p>

        <div class="text-left">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="firstName">First Name</label>
                <div class="col-sm-10 text-left">
                    <input class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" type="text">
                    <strong>
                        <span class="error-message"
                              th:errors="*{firstName}"
                              th:if="${#fields.hasErrors('firstName')}">
                            First Name Error
                        </span>
                    </strong>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="lastName">Last Name</label>
                <div class="col-sm-10 text-left">
                    <input class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}" type="text">
                    <strong>
                        <span class="error-message"
                              th:errors="*{lastName}"
                              th:if="${#fields.hasErrors('lastName')}">Last Name Error
                        </span>
                    </strong>

                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email">Email</label>
                <div class="col-sm-10 text-left">
                    <input class="form-control" id="email" placeholder="Email" th:field="*{email}" type="text">
                    <strong>
                        <span class="error-message"
                              th:errors="*{email}"
                              th:if="${#fields.hasErrors('email')}">Email Error
                        </span>
                    </strong>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="username">Username</label>
                <div class="col-sm-10 text-left">
                    <input class="form-control" id="username" placeholder="User Name" th:field="*{username}" type="text">
                    <strong>
                        <span class="error-message"
                              th:errors="*{username}"
                              th:if="${#fields.hasErrors('username')}">Username Error
                        </span>
                    </strong>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="password">Password</label>
                <div class="col-sm-10">
                    <input class="form-control" id="password" placeholder="Password" th:field="*{password}" type="password">
                    <ul class="text-left"
                        th:each="error: ${#fields.errors('password')}">
                        <li th:each="message : ${error.split(',')}">
                            <strong>
                                <span class="error-message" th:text="${message}"></span>
                            </strong>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="form-group form-check">
            <div>
                <input class="form-check-input" id="enabled" type="checkbox" th:field="*{enabled}"/>
                <label class="form-check-label" for="enabled">
                    I agree with the <a href="/termsandconditions">terms and conditions</a> for Registration.
                </label>
            </div>
            <strong>
                <span class="error-message" th:errors="*{enabled}" th:if="${#fields.hasErrors('enabled')}">Term Error</span>
            </strong>
        </div>

        <button class="btn btn-primary" type="submit">Register</button>

    </form>

    <div class="row text-left">
        <div class="col-md-12">
            Already registered? <a href="/" th:href="@{/login}">Login</a>
        </div>
        <div class="col-md-12">
            Forgot password? <a href="/" th:href="@{/forgot-password}">Reset password</a>
        </div>
    </div>

</div>

<div th:replace="base::footer"></div>

</body>
</html>