<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::header">
    <title>Weather Data</title>
</head>
<body background="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/SZMXphYEipbdr8zi/beautiful-clouds-close-up-weather-background_skp3rq4r__F0000.png">
<div th:replace="base::nav"></div>


<div align="center" class="div1">
    <h2>Weather Data</h2>
    <table id="table" style="width:100%">
        <tr>
            <th>City</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Precipitation</th>
            <th>Temp</th>
            <th>Min Temp</th>
            <th>Max Temp</th>
            <th>Weather</th>
        </tr>
        <tr th:each="weather ,iterStat: ${weatherData}" >
            <td><span th:text="${weather.name}"></span></td>
            <td><span th:text="${weather.lat}"></span></td>
            <td><span th:text="${weather.lon}"></span></td>
            <td><span th:text="${weather.weatherMain}"></span></td>
            <td><span th:text="${#numbers.formatDecimal(weather.temp,2,1)}"></span></td>
            <td><span th:text="${#numbers.formatDecimal(weather.tempMin,2,1)}"></span></td>
            <td><span th:text="${#numbers.formatDecimal(weather.tempMax,2,1)}"></span></td>
            <td><span th:text="${weather.weatherDescription}"></span></td>

        </tr>


    </table>
</div>
<div th:replace="base::footer"></div>
</body>
</html>