<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="base::header">

    <title>Occasion</title>
</head>

<body>
<div th:replace="base::nav"></div>
<div align="center" class="container-float">
    <div class="jumbotron lead">
        <h2 align="center">Add Wind</h2>
    </div>
    <form action="#"
          method="post"
          th:action="@{/processwind}"
          th:object="${wind}">
        <table class="table" th:align="center">
            <input th:field="*{id}" type="hidden"/>
            <tr>
                <td><label for="name">Name :</label></td>
                <td><input class="form-control" id="name" th:field="*{name}" type="text"/></td>
                <td><span th:errors="*{name}"
                          th:if="${#fields.hasErrors('name')}"></span><br/></td>
            </tr>
            <tr>
                <td colspan="3"><span class="error-message" th:text="${message}"></span><br/></td>
            </tr>
            <tr>
                <td align="center" colspan="3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>

<div th:replace="base::footer"></div>
</body>
</html>