<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="base::header">

    <title>Occasion</title>
</head>

<body>
<div th:replace="base::nav"></div>
<div class="container-float" align="center">
    <div class="jumbotron lead">
        <h2 align="center">Add Wind</h2>
    </div>
    <form action="#"
          th:action="@{/processwind}"
          th:object="${wind}"
          method="post">
        <table th:align="center" class="table">
            <input type="hidden" th:field="*{id}" />
            <tr>
                <td><label for="name">Name :</label></td>
                <td><input id="name" class="form-control" type="text" th:field="*{name}"/></td>
                <td><span th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span><br /></td>
            </tr>
            <tr>
                <td colspan="3"><span th:text="${message}"></span><br/></td>
            </tr>
            <tr>
                <td align="center" colspan="3">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<br/>

<div th:replace="base::footer"></div>
</body>
</html>