.topmargin {
    margin-top: 100px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.error-message {
    color: red;
    font-style: Italic;
}

/*
!* makes main-menu open on hover *!
.menu-item:hover > .dropdown-menu {
    display: block;
}

!* makes sub-menu S open on hover *!
.submenu-item:hover > .dropdown-menu {
    display: block;
}

.nav-item:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu:hover > .dropdown-menu {
    display: block;
}*/

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu > li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu > li:hover > .submenu {
        display: block;
    }
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
    }
}